<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Nim Buzz</title>
    <link rel="stylesheet" href="/css/main.css" type="text/css" />
  </head>

  <body>
    <header class="header">
      <img
        class="header-logo"
        src="/img/logo-netinfosmedias-seul-tampon.png"
        alt="logo netinfosmedias"
      />
      <h1 class="header-title">Le test - NIM buzz</h1>
    </header>
    <section class="main-section">
        <a href="/">Recommencer</a>
      <h2>
        Rappel des données transmises : Nombre de début: <%= startNumber %> et
        Nombre de fin: <%= endNumber %>
      </h2>
      <div class="div-resultats">
        <% results.forEach(result => { %>
            <p class="resultat <%= result.class %>"><%= result.value %></p>
         <% }) %>
      </div>
    </section>
  </body>
</html>
